services:
  api:
    image: ${DOCKER_REGISTRY-}api
    build:
        context: .
        dockerfile: Dockerfile
    environment:
      - ASPNETCORE_URLS=http://+:8081
    ports:
      - "8081:8081"
    depends_on: 
      - sqlserver-local
      - localstack
  sqlserver-local:
    build:
      context: ./Mock/User
      dockerfile: Dockerfile
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD_FILE=/run/secrets/MSSQL_SA_PASSWORD
      - TZ=UTC
      - SQLHOST=localhost
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
      - CHOWN
    healthcheck:
      test: /opt/mssql-tools18/bin/sqlcmd -C -U sa -P $(cat /run/secrets/MSSQL_SA_PASSWORD) -S localhost -Q "SELECT 1" || exit 1
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    secrets:
        - MSSQL_SA_PASSWORD
  localstack:
    container_name: localstack
    hostname: localstack
    image: localstack/localstack:2.0
    ports:
      - '4566:4566'
      - '4510-4559:4510-4559'
    environment:
      - DOCKER_HOST=unix:///var/run/docker.sock
      - AWS_ACCESS_KEY_ID=DUMMYIDEXAMPLE
      - AWS_SECRET_ACCESS_KEY=DUMMYEXAMPLEKEY
      - REGION=eu-west-2
    volumes:
      - ./Mock/LocalStack:/etc/localstack/init/ready.d
      - '/var/run/docker.sock:/var/run/docker.sock'
secrets:
  MSSQL_SA_PASSWORD:
    file: .mssql-sa-password